<template>
<v-card hover>
	<v-card-media
		height="160"
		@mouseover="holdToPreview"
		@mouseout="cancalPreview"
		contain
		:src="media"
	>
		<div
			:class="{ preview: true, active: isActive }"
			@mousemove="calculatePreviewProgress"
		>
			<div class="preview-cover" :style="{
				backgroundImage: `url(${preview})`,
				backgroundPosition: `-${(100 * shotRangeTimes - previewTime) * 284}px 0px`,
			}"></div>
			<div class="preview-progress">
				<span class="primary" :style="{ width: `${100 - previewTime / shotRangeTimes}%` }"></span>
			</div>
		</div>
	</v-card-media>
	<v-divider></v-divider>
	<v-card-actions>
		<v-spacer></v-spacer>
		<v-btn flat icon><v-icon>refresh</v-icon></v-btn>
	</v-card-actions>
</v-card>
</template>

<script>
export default {
	name: 'display-card',

	props: {
		media: {
			type: String,
			required: true
		},
		preview: {
			type: String,
		},
		numberOfShot: {
			type: [Number, String],
			required: true,
			default: 100
		}
	},

	data() {
		return {
			previewTime: 100,
			isActive: false,
			delay: null,
		};
	},

	computed: {
		shotRangeTimes() {
			if (Number(this.numberOfShot) === 100) return 1;
			return Number(this.numberOfShot) / 100;
		}
	},

	methods: {
		holdToPreview() {
			this.delay = setTimeout(() => {
				this.isActive = true;
			}, 1000 * 0.4);
		},
		cancalPreview() {
			clearTimeout(this.delay);
			this.isActive = false;
			this.previewTime = 100;
			this.delay = null;
		},
		calculatePreviewProgress({ layerX, target }) {
			if (!this.isActive) return;
			const elemWidth = target.getBoundingClientRect().width;
			this.previewTime = Math.round((((elemWidth - layerX) * this.shotRangeTimes) / elemWidth) * 100);
		}
	}
};
</script>

<style lang='stylus' scoped>
@import '~vuetify/src/stylus/bootstrap'
.preview
	width 100%
	height 100%
	opacity 0
	transition all $primary-transition
	&.active
		opacity 1
		background-color rgba(0, 0, 0, 0.45)
	&-progress
		position absolute
		top 0
		left 0
		width 100%
		border-width 4px 8px
		border-style solid
		border-color rgba(0, 0, 0, 0.5)
		span
			display block
			height 2px
	&-cover
		position absolute
		left 0
		top 7px
		height 100%
		width 100%
		margin-top 2px
		background-size cover

.v-card
	width 284px
	&__media
		height 160px
</style>
