<template>
<v-container fluid grid-list-md>
	<v-layout row wrap>
		<display-card
			media="static/50242546_p0.jpg"
			preview="static/temp.jpg"
			numberOfShot="30"
		></display-card>
	</v-layout>
</v-container>
</template>

<script>
import displayCard from '@/components/displayCard.vue';

export default {
	name: 'index',

	components: {
		displayCard
	},

	data() {
		return {
		};
	},
};
</script>

<style lang='stylus'>
#initialOverlay
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background-color rgba(0,0,0,0.45)
	z-index 10
.theme--light
	.v-tabs__bar
		background-color transparent
</style>
