<template>
<div id="initial" :style="{
	left: `-${$vuetify.application.left}px`,
	top: `-${$vuetify.application.top}px`,
}">
	<v-toolbar flat color="white">
		<v-toolbar-title>Crystal</v-toolbar-title>
		<v-subheader>Tosho</v-subheader>
	</v-toolbar>
	<v-divider class="ma-3"></v-divider>
	<v-container fluid>
		<v-stepper v-model="step">
			<v-stepper-header>
				<v-stepper-step editable step="1">{{$t('initial.step.secrecy')}}<small>{{$t('initial.step.optional')}}</small></v-stepper-step>
				<v-divider></v-divider>
				<v-stepper-step editable step="2">{{$t('initial.step.performance')}}</v-stepper-step>
				<v-divider></v-divider>
				<v-stepper-step editable step="3">{{$t('initial.step.datapath')}}</v-stepper-step>
			</v-stepper-header>

			<v-stepper-items>
				<v-stepper-content step="1">
					<div>
						<div class="headline">隐私</div>
						<v-subheader>你需要输入正确的密码才能访问本程序的内容</v-subheader>
					</div>
					<v-layout class="pa-3" row wrap>
						<v-flex xl4 lg5 md5 sm6>
							<v-text-field
								v-model="password"
								outline
								hide-details
								label="Enter Password"
								class="mb-1"
								@keyup.enter="validatePassowrd"
							></v-text-field>
							<v-text-field
								v-model="confirmPassword"
								outline
								hide-details
								label="Confirm Password"
								@keyup.enter="validatePassowrd"
							></v-text-field>
						</v-flex>
					</v-layout>
					<v-btn color="primary" @click.stop="validatePassowrd">{{$t('initial.step.continue')}}</v-btn>
				</v-stepper-content>
				<v-stepper-content step="2">
					<div>
						<div class="headline">预览</div>
						<v-subheader>移动鼠标预览影片的选项</v-subheader>
					</div>
					<v-layout class="pa-3" row wrap>
						<v-flex xs12>
							<v-subheader class="pl-0">截图数</v-subheader>
							<v-slider v-model="numberOfPreview" :step="10" ticks :label="`${numberOfPreview}` || '0'" :max="100"></v-slider>
						</v-flex>
						<v-flex xs12>
							<v-subheader class="pl-0">预览图片质量</v-subheader>
							<v-slider v-model="qualityOfPreview" :step="5" ticks :label="`${qualityOfPreview}%` || '0'" :max="100"></v-slider>
						</v-flex>
					</v-layout>
					<v-btn color="primary" @click.stop="step = 3">{{$t('initial.step.continue')}}</v-btn>
				</v-stepper-content>
				<v-stepper-content step="3">
					<div>
						<div class="headline">Data Folder</div>
					</div>
					<v-layout class="pa-3" row wrap>
						<v-flex>
							<v-text-field
								v-for="(item, i) in dataSelect"
								:key="i"
								:value="dataFolder[i]"
								readonly
								outline
								hide-details
								append-icon="folder"
								@click:append="selectFolder(i)"
								@click.stop.prevent="selectFolder(i)"
								:label="dataFolder[i] ? '选中的文件夹' : '选择文件夹'"
								class="mb-1"
							></v-text-field>
						</v-flex>
					</v-layout>
					<v-btn color="primary" @click="verifyInitial">{{$t('initial.step.continue')}}</v-btn>
				</v-stepper-content>
			</v-stepper-items>
		</v-stepper>
		<v-dialog
			v-model="dialog"
			max-width="290"
		>
			<v-card>
				<v-card-title class="headline">{{ dialogInfo.headline }}</v-card-title>

				<v-card-text>
					{{ dialogInfo.text }}
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn
						color="blue-grey darken-1"
						flat
						@click="dialogInfo.cancelCb"
					>{{ dialogInfo.cancel }}</v-btn>

					<v-btn
						color="primary"
						flat
						@click="dialogInfo.confirmCb"
					>{{ dialogInfo.confirm }}</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-container>
</div>
</template>

<script>
import { remote } from 'electron';
import { setItem } from '@/util';

export default {
	name: 'initial',

	data() {
		return {
			step: 1,
			password: '',
			confirmPassword: '',
			numberOfPreview: 100,
			qualityOfPreview: 75,
			dataFolder: [],
			dataSelect: 1,
			dialog: false,
			dialogInfo: {
				cancelCb: () => {},
				confirmCb: () => {}
			},
			defaultDialogInfo: {
				cancelCb: () => {},
				confirmCb: () => {}
			}
		};
	},

	methods: {
		validatePassowrd() {
			if (!this.password.length || !this.confirmPassword.length || this.password !== this.confirmPassword) {
				this.openDialog({
					headline: '不使用密码？',
					text: '如果同意，这代表你不使用“通过密码浏览内容”。',
					cancel: '不，手抖了',
					cancelCb: this.closeDialog,
					confirm: '是的',
					confirmCb: () => {
						this.step = 2;
						this.closeDialog();
					}
				});
			} else if (`${this.confirmPassword}` === `${this.password}`) {
				this.step = 2;
			}
		},
		openDialog(detail) {
			this.dialogInfo = detail;
			this.dialog = true;
		},
		closeDialog() {
			this.dialogInfo = this.defaultDialogInfo;
			this.dialog = false;
		},
		verifyInitial() {
			if (this.password.length && this.password === this.confirmPassword) setItem({ password: this.password });
			setItem({ initial: true, numberOfPreview: this.numberOfPreview, qualityOfPreview: this.qualityOfPreview });
			this.$router.replace({ path: '/mklink', query: { folder: this.dataFolder } });
		},
		selectFolder(index) {
			remote.dialog.showOpenDialog({
				title: '选择数据，一次一个文件夹',
				properties: ['openDirectory', 'showHiddenFiles']
			}, (filePaths) => {
				if (!filePaths) return false;

				if (this.dataFolder[index]) this.$set(this.dataFolder, index, filePaths.toString());
				else {
					this.dataFolder = this.dataFolder.concat(filePaths);
				}
				this.dataFolder = [...new Set(this.dataFolder)];
				this.dataSelect = this.dataFolder.length + 1;
			});
		}
	},
};
</script>

<style lang='stylus'>
@import '~vuetify/src/stylus/bootstrap'

#initial
	position absolute
	width 100vw
	height 100vh
	max-width 100vw
	z-index 9999
	background-color #FFF

	.v-input--is-focused.v-input--hide-details
		.v-input__slot
			box-shadow: 0 0 2px 3px rgba($blue.darken-4, 0.2)
</style>
