<template>
<div id="mklink">

</div>
</template>

<script>
export default {
	name: '',

	props: {
		folder: {
			type: Array,
			required: true,
			default() {
				return [];
			}
		}
	},

	data() {
		return {};
	},

	beforeRouteEnter(to, from, next) {
		console.log(from);
		console.log(to);
		next();
	},

	mounted() {
		console.log(this.folder);
	},
};
</script>

<style lang='stylus'>
@import '~vuetify/src/stylus/bootstrap'

#mklink
	position absolute
	width 100vw
	height 100vh
	max-width 100vw
	z-index 9999
	background-color #FFF

	.v-input--is-focused.v-input--hide-details
		.v-input__slot
			box-shadow: 0 0 2px 3px rgba($blue.darken-4, 0.2)
</style>
