<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>crystal-rc</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" />
		<% if (htmlWebpackPlugin.options.nodeModules) { %>
		<!-- Add `node_modules/` to global paths so `require` works properly in development -->
		<script>
			require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
		</script>
		<% } %>
	</head>
	<body>
		<div id="app"></div>
		<!-- Set `__static` path to static files in production -->
		<script>
		if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
		</script>

		<!-- webpack builds are automatically injected -->
	</body>
</html>
