<template>
<v-app id="inspire">
	<v-navigation-drawer
		width="240"
		permanent
		clipped
		v-model="drawer"
		fixed
		app
	>
		<v-list dense>
			<template v-for="item in items">
				<v-subheader
					v-if="item.heading"
					:key="item.heading"
					class="grey--text"
				>{{item.heading}}</v-subheader>
				<v-list-group
					v-else-if="item.children"
					:key="item.text"
					:prepend-icon="item.icon"
					:value="calculateGroupActive(item.children)"
					no-action
				>
					<v-list-tile slot="activator">
						<v-list-tile-content>
							<v-list-tile-title>{{ item.text }}</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile
						v-for="(child, i) in item.children"
						:key="i"
						ripple
						:to="{ path: child.link, exact: child.exact }"
					>
						<v-list-tile-content>
							<v-list-tile-title>{{ child.text }}</v-list-tile-title>
						</v-list-tile-content>
						<v-list-tile-action>
							<v-icon>{{ child.icon }}</v-icon>
						</v-list-tile-action>
					</v-list-tile>
				</v-list-group>
				<v-list-tile
					v-else
					ripple
					:key="item.text"
					:to="{ path: item.link, exact: item.exact }"
				>
					<v-list-tile-action>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>
							{{ item.text }}
						</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</template>
		</v-list>
	</v-navigation-drawer>
	<v-toolbar
		clipped-left
		color="blue darken-3"
		dark
		app
		fixed
	>
		<v-toolbar-title style="width: 300px" class="ml-0">
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<span class="hidden-sm-and-down">Crystal</span>
		</v-toolbar-title>
		<v-text-field
			flat
			solo-inverted
			hide-details
			prepend-inner-icon="search"
			label="Search"
			class="hidden-sm-and-down"
		></v-text-field>
		<v-spacer></v-spacer>
		<v-btn icon>
			<v-icon>apps</v-icon>
		</v-btn>
		<v-btn icon>
			<v-icon>notifications</v-icon>
		</v-btn>
		<v-btn icon large>
			<v-avatar size="32px" tile>
				<img
					src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
					alt="Vuetify"
				>
			</v-avatar>
		</v-btn>
	</v-toolbar>
	<v-content>
		<router-view></router-view>
	</v-content>
</v-app>
</template>

<script>
import { getItem } from '@/util';

export default {
	name: 'crystal',

	data: () => ({
		drawer: null,
		items: [
			{ heading: 'Tosho' },
			{ icon: 'explore', text: 'Explore', link: '/' },
			{
				icon: 'keyboard_arrow_up',
				text: 'Labels',
				children: [
					{ icon: 'add', text: 'Create label', link: 'home' }
				]
			},
			{
				icon: 'keyboard_arrow_up',
				text: 'More',
				children: [
					{ text: 'Import' },
					{ text: 'Export' },
					{ text: 'Print' },
					{ text: 'Undo changes' },
					{ text: 'Other contacts' }
				]
			},
		],
		initial: true
	}),

	props: {
		source: String
	},

	methods: {
		calculateGroupActive(child) {
			if (!window) return false;
			return child.some(item => window.location.href.includes(item.link));
		}
	},

	created() {
		if (!getItem('initial')) {
			this.$router.replace({ path: '/initial' });
		}
	},
};
</script>

<style lang="stylus">
@import '~vuetify/src/stylus/main';

html
	overflow-y: auto

	.application
	.headline
		font-family: 'Roboto', sans-serif, 'Microsoft YaHei' !important
</style>
